@import "tailwindcss";

@theme  {
  
  --font-poppins: var(--font-poppins);
  --breakpoint-nwsm:25rem;
  --breakpoint--bg:125rem;
  
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}



